header {
  margin: 0 auto; 
  display: block;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  padding: 110px 0;
  color: white;
  background: #181818;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}