body { line-height: 1.8; }
footer { margin: 50px 0; }

@media(max-width:768px) {
  .container { margin: 0 15px; }
}

.scroll-up a span {
  position: fixed;
  right: 50px;
  bottom: 30px;
  z-index: 1;
  width: 30px;
  height: 30px;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  box-sizing: border-box;
}

.scroll-down a span {
  position: absolute;
  top: 85%;
  left: 50%;
  width: 30px;
  height: 30px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: array-down 1.5s infinite;
  animation: arrow-down 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes arrow-down {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes arrow-down {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
  