body { line-height: 2.0; }
footer { 
  margin: auto 0; 
  background: #181818;
  color: white;
  height: 100%;
  text-align: center;
  padding: 40px 0;

  p {
    margin-top: 20px;
  }

  .link {
    display: inline-block;
    margin: 15px 15px 0 15px;
  }

  .link a {
    text-decoration: none;
  }

  .fab {
    padding: 20px;
    width: 70px;    
    height: 70px;
    text-align: center;
    border-radius: 2px;
    background: #333;
    color: white;
  }

  .fab:hover {
    opacity: 0.7;
    text-decoration: none;
  }

  .far {
    padding: 20px;
    width: 70px;    
    height: 70px;
    text-align: center;
    border-radius: 2px;
    background: #333;
    color: white;
  }

  .far:hover {
    opacity: 0.7;
    text-decoration: none;
  }

  .copyright {
    margin-top: 30px;
    p { font-size: 12px; }
  }
}

@media(max-width:768px) {
  .container { margin: 0 15px; }
}

.scroll-up a span i {
  position: fixed;
  right: 60px;
  bottom: 45px;
  color: #777;
  z-index: 1;
  box-sizing: border-box;
}

.scroll-down a span i {
  position: relative;
  margin-top: 100px;
  left: 50%;
  color: #777;
  box-sizing: border-box;
	-webkit-animation: arrow-down 2s infinite;
	-moz-animation:    arrow-down 2s infinite;
	animation:         arrow-down 2s infinite;
}

@-webkit-keyframes arrow-down {
  0%   { -webkit-transform:translate(0, -10px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0, 10px); opacity: 0; }
}
@-moz-keyframes arrow-down {
  0%   { -moz-transform:translate(0, -10px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0, 10px); opacity: 0; }
}
@keyframes arrow-down {
  0%   { transform:translate(0, -10px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0, 10px); opacity: 0; }
}
  