main {
  hr { margin: 50px 0 50px 0; }

  section { 
    overflow: hidden; 
    line-height: 2.0;
  }

  img {
    @extend .img-circle;
    @extend .img-responsive;

    &.pull-left {  margin-right: 40px;  }
    &.pull-right {  margin-left: 40px;  }
  }

  h1 {
    font-size: 50px;
    span { @extend .text-muted; }
  }

  h2 {
    font-size: 40px;
    text-align: center;
    span { @extend .text-muted; }
  }

  h3 {
    font-size: 21px;
    span { @extend .text-muted; }
  }

  p { 
    font-size: 16px;
    span { @extend .text-muted; }  

    a {
      color: #0059b3;
    }

    a:hover {
      color: #0059b3;
    }

    a:visited {
      color: #0059b3;
    }
  }

  .about { margin-top: 30px; }

  .biography {
    width: 90%;
    margin: 0 auto;

    table, td {
      margin-top: 20px;
      table-layout: fixed;
      border-collapse: collapse;
    }

    table tr { border-left: 1px solid; }
    table td { 
      vertical-align: top; 
      padding-bottom: 15px;
    }

    .rowspan { width: 30%; }

    .date {
      margin: 0 auto;      
      width: 65%;
    }
  }

  .abilities { 
    table {
      margin-top: 40px;
      table-layout: fixed;
      width: 100%;
    }

    table tr {
      text-align: center;
      vertical-align: top;
    }
  }

  .care {
    table {
      margin-top: 40px;
      table-layout: fixed;
      width: 100%;
      text-align: center;
    }
  }

  .values { 
    table {
      margin-top: 20px;
      table-layout: fixed;
      width: 100%;
    }

    table tr {
      text-align: center;
      vertical-align: top;
    } 
  }

  @media(max-width:1200px) {
    hr { margin: 50px 0; }
    h1 { font-size: 54px; }
    h2 { font-size: 40px; }
    h3 { font-size: 21px; }
    p { font-size: 16px; }

    img {
      &.pull-left { margin-right: 20px; }
      &.pull-right { margin-left: 20px; }
    }
  }

  @media(max-width:991px) {
    hr { margin: 40px 0; }
    h1 { font-size: 42px; }
    h2 { font-size: 30px; }
    h3 { font-size: 18px; }
    p { font-size: 16px; }

    img {
      max-width: 50%;
      &.pull-left { margin-right: 10px; }
      &.pull-right { margin-left: 10px; }
    }
  }

  @media(max-width:768px) {
    hr { margin: 40px 0; }
    h1 { font-size: 32px; }
    h2 { font-size: 25px; }
    h3 { font-size: 16px; }
    p { font-size: 14px; }
  }

  @media(max-width:668px) {
    hr { margin: 30px 0; }
    h3 { font-size: 16px; }
    p { font-size: 14px; }
  }

  @media(max-width:600px) {  
    p { 
      font-size: 12px; 
    }

    .column {
      flex: 100%;
      margin-top: 10px;
    }
  }

  @media(max-width:400px) {
    hr { margin: 10px 0; }
    p { font-size: 12px; }
  }
}
