main {
  
  section { 
    overflow: hidden; 
    line-height: 2.0;
  }

  img {
    @extend .img-circle;
    @extend .img-responsive;

    &.pull-left {  margin-right: 40px;  }
    &.pull-right {  margin-left: 40px;  }
  }

  h1 {
    font-size: 40px;
    span { @extend .text-muted; }
  }

  h2 {
    font-size: 25px;
    span { @extend .text-muted; }
  }

  h3 {
    font-size: 18px;
    line-height: 1.5;
    span { @extend .text-muted; }
  }

  p { 
    font-size: 14px;
    span { @extend .text-muted; }  

    a {
      color: #0059b3;
    }

    a:hover {
      color: #0059b3;
    }

    a:visited {
      color: #0059b3;
    }
  }

  .lead {
    margin: 25px 0 35px 0;
  }

  .content { margin-top: 25px; }

  .block {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top; 
    width: 200px;
    padding: 0 5px 0 0;
  }

  .event { width: 80%; }

  .fas { width: 30px; }

  @media(max-width:1200px) {
    hr { margin: 20px 0; }
    h1 { font-size: 40px; }
    h2 { font-size: 25px; }
    h3 { font-size: 18px; }
    p { font-size: 14px; }

    img {
      &.pull-left { margin-right: 20px; }
      &.pull-right { margin-left: 20px; }
    }
  }

  @media(max-width:990px) {
    hr { margin: 20px 0; }
    h1 { font-size: 40px; }
    h2 { font-size: 25px; }
    h3 { font-size: 18px; }
    p { font-size: 14px; }

    img {
      max-width: 50%;
      &.pull-left { margin-right: 10px; }
      &.pull-right { margin-left: 10px; }
    }
  }

  @media(max-width:768px) {
    hr { margin: 15px 0; }
    h1 { font-size: 35px; }
    h2 { font-size: 20px; }
    h3 { font-size: 16px; }
    p { font-size: 12px; }
  }

  @media(max-width:668px) {
    hr { margin: 15px 0; }
    h1 { font-size: 35px; }
    h2 { font-size: 20px; }
    h3 { font-size: 16px; }    
    p { font-size: 12px; }
  }

  @media(max-width:600px) {  
    h1 { font-size: 35px; }
    h2 { font-size: 20px; }
    h3 { font-size: 16px; }
    p { font-size: 12px; }
  }

  @media(max-width:400px) {
    hr { margin: 10px 0; }
    p { font-size: 12px; }
  }
}
