<footer>

<h2>Contact me</h2>

  <p>Let's get in touch! I like making connections. 
    Feel free to reach out to me either personally or professionally. <br>
    You can also find me through my social media profiles.<br>
    <i><a href="mailto:hrmun.anthony@hotmail.com">hrmun.anthony@hotmail.com</a></i>
  </p>
  <div class="link">
    <a href="https://www.instagram.com/hrmun.anthony/" target="_blank" class="fab fa-instagram fa-3x" ></a>
  </div>
  <div class="link">
    <a href="https://www.facebook.com/hrmun.anthony" target="_blank" class="fab fa-facebook-f fa-3x"></a>
  </div>
  <div class="link">
    <a href="https://www.linkedin.com/in/hrmun/" target="_blank" class="fab fa-linkedin-in fa-3x"></a>
  </div>
  <div class="link">
    <a href="https://github.com/hrmun/" target="_blank" class="fab fa-github fa-3x"></a>
  </div>

  <div class="copyright">
    <p><i>Copyright &copy; {{ site.sitename }} {{ site.time | date: '%Y' }}</i></p>
  </div>

</footer>